[Desktop Entry]
Type=Application
Name=Start Application
GenericName=Start Application
Exec=ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -X app@localhost
